# Cargo audit configuration
# https://rustsec.org/

[advisories]
# Advisories to ignore (with justification)
# All of these are transitive dependencies from Tauri and its GTK/webkit bindings.
# We don't use the affected APIs directly in our codebase.
ignore = [
    # glib: Unsoundness in VariantStrIter (gtk-rs transitive dep)
    "RUSTSEC-2024-0429",
    # unic-ucd-version: unmaintained (tauri-utils -> urlpattern transitive dep)
    "RUSTSEC-2025-0098",
    # yaml-rust: unmaintained (config crate transitive dep)
    "RUSTSEC-2024-0320",
    # atty: potential unaligned read (old transitive dep)
    "RUSTSEC-2021-0145",
]
